{% extends "base.html" %}
{% block title %}Mork calling Orson{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/front.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>Mork Calling Orson</h1>

        <p id="content" hx-get="/content" hx-trigger="load"></p>

    <h2>Rooms Matrix</h2>
    <div  hx-ext="ws" ws-connect="/ws"  hx-swap-oob="innerHTML">
        <div id="rooms_matrix" hx-get="/rooms" hx-trigger="load"></div>
    </div>

    <h2>Debugging info</h2>
    <div id="debugging">
    </div>



{% endblock %}

