# Framework
Flask

# Templates
Jinja2

# add CSRF protection
Flask-WTF

## websocket for flask2
flask-sock

# Pika: RabbitMQ connect
pika
aio_pika

# testing/tools
pytest
black

# documentation
sphinx
