# Framework
flask[async]

# Templates
Jinja2

# add CSRF protection
Flask-WTF

## websocket for flask2
flask-sock

# Pika: RabbitMQ connect
pika
aio-pika

# Outgoing REST calls
httpx[http2]

# testing/tools
pytest
black

# documentation
sphinx
